<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png" />
    {%- block title %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script/dalma_hanja_index.js"></script>
    <script src="script/utils.js"></script>

    <link href="style/main.css" rel="stylesheet" type="text/css"/>
    <link href="style/colors.css" rel="stylesheet" type="text/css"/>

    {%- block styles %} {% endblock %}
  </head>
  <body>
    {%- block body %} {% endblock %}
    <h3>Другие списки ханча</h3>
    <ul>
       <li><a href="index.html">Список ханча средней и старшей школ</a></li>
       <li><a href="exam_hanja.html">Список экзамена на знание ханча (전국한자능력검정시험)</a></li>
    </ul>
  </body>
</html>