<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png" />
    {%- block title %} {% endblock %}

    <script src="script/jquery-3.5.1.min.js"></script>
    <script src="script/dalma_hanja_index.js"></script>
    <script src="script/utils.js"></script>

    <link href="style/main.css" rel="stylesheet" type="text/css"/>
    <link href="style/colors.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    {%- block body %} {% endblock %}
    <h3>Другие списки ханча</h3>
    <ul>
       <li><a href="hanja_exam.html">Список экзамен на знание ханча (전국한자능력검정시험)</a></li>
    </ul>
  </body>
</html>