{% extends "base.template.html" %}

{% block title %}
    <title>Список экзамена на знание ханчи</title>
{% endblock %}

{% block body %}
    <h1>Список экзамена на знание ханчи</h1>
    <div>
        3500 иероглифов, разбитых на уровни 8-1, от простого к сложному:
        <ol>
            <li><a href="#level8">8급</a> (50 знаков)  - дошкольное образование и начальная школа</li>
            <li><a href="#level7">7급</a> (150 знаков) - начальное изучение ханчи</li>
            <li><a href="#level6">6급</a> (300 знаков) - базовое использование ханчи</li>
            <li><a href="#level5">5급</a> (500 знаков) - начальное использования ханчи в образовании</li>
            <li><a href="#level4">4급</a> (1000 знаков) - продвижение от начального уровня до среднего </li>
            <li><a href="#level3">3급</a> (1817 знаков) - уровень чтения прессы и образовательной лексики</li>
            <li><a href="#level2">2급</a> (2355 знаков) - уровень владения ханчи повседневных слов китайского происхождения</li>
            <li><a href="#level1">1급</a> (3500 знаков) - свободное владение классическим языком</li>
            <li>Спецуровень 2 (4650 знаков)</li>
            <li>Спецуровень (5978 знаков)</li>
        </ol>
    </div>
    <div>Начертания иероглифов даны в соответствии со стандартом Южной Кореи. Начертания на других страницах могут отличаться, см. <a href="https://en.wikipedia.org/wiki/Han_unification">унификация Хань</a>.
    </div>
    <table class="main_table alternative">
        <thead>
             <tr>
                 <th>№</th>
                 <th>Иероглиф</th>
                 <th>Чтение</th>
                 <th>Значение</th>
             </tr>
        </thead>
        <tbody>
             {%- for hanja, readings, meanings, grade, css_grade in records %}
                 {%- if loop.index == 1 -%}
                    <tr id="level{{grade}}" class="level"><td class="level" colspan="4">Уровень {{grade}}</td></tr>
                 {%- else -%}
                    {% set prevgrade = records[loop.index-2][-2] %}
                    {% if prevgrade != grade %}
                        <tr id="level{{grade}}" class="level"><td colspan="4">Уровень {{grade}}</td></tr>
                    {% endif %}
                 {%- endif -%}
                 <tr>
                     <td class="number">{{ loop.index }}</td>
                     <td><span class="level-dark-{{css_grade}} hanja kanji_widget">{{ hanja }}</span></td>
                     <td class="hangul reading">{{ readings }}</td>
                     <td class="meaning">{{ meanings }}
                     </td>
                 </tr>
             {%- endfor -%}
        </tbody>
    </table>
    <div>Источник: <a href="https://namu.wiki/w/%ED%95%9C%EC%9E%90/%EB%AA%A9%EB%A1%9D/%EA%B8%89%EC%88%98%EB%B3%84">Намувики</a>
    </div>

{% endblock %}