

body {
    font-family: Tahoma, Verdana;
    background-color: black;
    color: white;
}

.hangul {
    /*font-family: 'Nanum Gothic', sans-serif;*/
  color: LightBlue;
}

.hanja {
   /* font-family: 'Nanum Gothic', sans-serif;*/
    font-size: 125%;
}

.number {
  font-size: small;
  color: gray;
}

tr.level {
  color: Brown;
  font-size: 150%;
  background: #282828;
}

table.main_table {
    margin: 5px 5px;
}

table.hanja-board {
    padding: 3px;
}

table.alternative > tbody > tr:nth-child(even) {
  background-color: #181818;
}

span.hanja_hilite {
    color: tan;
}

table.hanja-board {
    margin: 5px;
}

table.hanja-board  th, caption {
    color: grey;
}

table.hanja-board  tr:nth-child(even) {
    background: #202020;
}

.meaning {
  /*font-size: 75%;*/
}

/*  */

.kanji_widget {
    padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #666666;
	border-radius: 3px;
	font-size: 22px;
}

.kanji_widget:hover {
    background-color: #606060;
	cursor: pointer;
}
/*
.kanjipopup {
    background-color: black !important;
	color: white !important;
}
*/

